/* /////////--------------------------------------------       UPPER SECTION       --------------------------------------------///////// */

/* element */

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;

}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
    font-weight: bold;
}

p {
  color: #8f8f8f;
}

/* title */

.title-img {
  width: 17%;
  height: auto;
  transform: rotate(30deg);
  position: absolute;
  right: 20%;
}
.Bigheading {
  font-size: 3.3rem;
  line-height: 1.5;
}
.DNBTN {
  margin: 3% 2% 0 0;
}
#title .container-fluid{
  padding: 3% 15% 10%;
  text-align: left;
}

/* section colors */

.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color: #fff;
}
/* features */

#features {
  position:relative;
}

.feature-head {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.8rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 20px;
}

.icon:hover {
  color: #ff4c68;
}

/* container */

.container-fluid {
  padding: 7% 15%;
}

/* navigation bar */

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: normal;
}

/* /////////--------------------------------------------       TESTIMONIALS SECTION       --------------------------------------------///////// */

/* testimonials */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}


.test-img {
  width: 13%;
  border-radius: 100%;
  margin: 50px 20px 0 50px;
}

#press {
  background-color: #E9DAC1;
  padding-top: 30px;
}

.press-logo {
  width: 10%;
  margin: 0 100px 40px 100px;
}

.testimonials-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* -------------------------------------------------- Pricing section--------------------------------------------------------- */

/* pricing */

#pricing{
  padding: 80px;
}
.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-size: 2.8rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
/* cta */

/* footer */

.social-icon{
  margin: 20px 10px;
  text-decoration: none;
  color: black;
}

.social-icon:hover{
  color: #ef8172
}

/* ----------------------------------------------------------- */

@media (max-width:1028px) {

  #title .container-fluid{
    padding: 3% 5% 10%;
    text-align: center;
  }

  #title .navbar{
    text-align: left;
  }
  .title-img{
    position: static;
    transform: rotate(0);
    width: 60%;
    margin-top: 40px;
}

.Bigheading{
  font-size: 3rem;
  margin-bottom: 20px;
}

.container-fluid {
  padding: 5% 8%;
}
.testimonials-text{
  font-size: 2rem;
}
.test-img {
  width: 35%;
  border-radius: 100%;
  margin: 20px 0 40px 0;;
}
.press-logo {
  width: 20%;
}
.section-heading{
  font-size: 3.2rem;
  line-height: 1.2;
  color: white;
}

#pricing{
  padding:50px 30px;
  background-color: #ef8172;
}
h3{
  font-size: 2.5rem;
}
.sectionpara{
  font-size: 1.5rem;
  color: #674747;
}
.price-text{
  font-size: 2rem;
}
#cta{
  padding:80px 0 80px 0;
}
#cta .DNBTN{
  position: relative;
  top:30px;
}
.feature-head{
  font-size: 2.8rem;
}
p{
  font-size: 1.5rem;
    padding: 0 5px;
}
#footer .Copyright-foot{
  font-size: 1.2rem;
}
.card{
  width: 70%;
  position: relative;
  left:15%;
}
}
@media (max-width:530px){
  .press-logo {
    width: 25%;
  }
}
